* {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #eee;
  width: 100%;
  height: 100vh;
}

button {
  /* outline: 1px solid gray; */
  /* margin: 5px; */
  padding: 5px;
  width: 50px;
  height: 25px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 99;
  text-align: center;
  letter-spacing: 1px;
  padding: 20px;
  font-size: 30px;
  color: white;
  background: rgb(114, 62, 188);
  background: linear-gradient(255deg, rgba(114, 62, 188, 0.861782212885154) 0%, rgba(162, 62, 188, 1) 100%);
}

.header .basket-icon {
  position: absolute;
  right: 0;
}

.header .money {
  color: rgb(175, 175, 175);
  font-weight: bold;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.products {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;
  width: calc(40% - 30px);
  height: 100%;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}

.modal {
  position: fixed;
  top: 25%;
  right: 25%;
  width: 50%;
  height: 50%;
  background-color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product .image-container {
  width: 100%;
  height: 100%;
}

.product .image-container img {
  width: 100%;
  height: 100%;
}

.actions {
  display: flex;
  align-items: center;
}

.sell-btn {
  background: #e4002b;
}

.sell-btn[disabled] {
  opacity: 0.7;
}

.amount {
  background: #84bd00;
  width: 40px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-btn {
  background: #0085ad;
}

.reset-btn {
  width: 100px;
  background-color: #a51890;
  height: 30px;
}

@media screen and (max-width: 850px) {
  .header {
    font-size: 26px;
  }

  .container {
    width: 95%;
  }

  .product {
    width: 70%;
  }
}

@media screen and (max-width: 450px) {
  .header {
    padding: 20px 5px;
    font-size: 18px;
    letter-spacing: 0;
  }
}