* {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #eee;
  width: 100%;
  height: 100vh;
}

button {
  /* outline: 1px solid gray; */
  /* margin: 5px; */
  padding: 5px;
  width: 50px;
  height: 25px;
}

.header {
  text-align: center;
  padding: 20px;
  font-size: 26px;
}

.product {
  padding: 10px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}

.actions {
  display: flex;
  align-items: center;
}

.sell-btn {
  background: #e4002b;
}

.sell-btn[disabled] {
  opacity: 0.7;
}

.amount {
  background: #84bd00;
  width: 40px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-btn {
  background: #0085ad;
}